<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>
<% var apellido = 'Eguez' %>
<!-- h1 -> Header 1 -->
<h1><%= nombre %> <%= apellido %></h1>
<!-- p -> parrafo -->
<p>Parrafo</p>
<h2>Arreglo</h2>
<!-- ul -> unordered list -->
<!-- ol -> ordered list -->
<!-- li -> list item -->
<!--
  <ul>
  <% //arreglo.forEach((numero)=>{   %>
      <li><%= // numero  %></li>
  <%   // })    %>
  </ul>
-->
<table>
  <!-- tr -> table row -->
  <tr>
    <!-- th -> table header -->
    <th>Identificador</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <!-- tr -> table row -->
  <% arreglo.forEach((usuario)=>{ %>
  <tr>
    <!-- td -> table detail -->
    <td><%=usuario.id%></td>
    <td><%=usuario.nombre%></td>
    <td>
      <form action="/Usuario/borrar/<%=usuario.id%>" method="post">
        <button type="button">Yo no</button> <button>Yo si</button>
        <button type="submit">Eliminar</button>
      </form>
    </td>
  </tr>
  <% }) %>
</table>
