<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<script>
  function holaMundo() {
    console.log('Hola mundo');
  }
</script>

<button onclick="holaMundo()">click</button>

<% const existeMensaje = typeof mensaje !== "undefined" ? true : false;%>
<%if(existeMensaje){%>
<p>MENSAJE: <%= mensaje%></p>

<%}%> <% var apellido = 'Izurieta' %>
<!-- h1 -> Header 1 -->
<h1><%= nombre %> <%= apellido %></h1>

<form action="/Usuario/inicio" method="GET">
  <div>
    <label for="busqueda">Buscar</label>
    <input id="busqueda" name="busqueda" type="text" />
  </div>
  <button>Buscar</button>
</form>

<!-- p -> parrafo -->
<p>Parrafo</p>
<h2>Arreglo</h2>
<a href="/Usuario/crear-usuario"> <button>Crear Usuario</button> </a>
<!-- ul -> unordered list -->
<!-- ol -> ordered list -->
<!-- li -> list item -->
<!--
  <ul>
  <% //arreglo.forEach((numero)=>{   %>
      <li><%= // numero  %></li>
  <%   // })    %>
  </ul>
-->
<table>
  <!-- tr -> table row -->
  <tr>
    <!-- th -> table header -->
    <th>Nombre</th>
    <th>Biografía</th>
    <th>Acciones</th>
  </tr>
  <!-- tr -> table row -->
  <% arreglo.forEach((usuario)=>{ %>
  <tr>
    <!-- td -> table detail -->
    <td><%=usuario.nombre%></td>
    <td><%=usuario.biografia%></td>
    <td>
      <form action="/Usuario/borrar/<%=usuario.id%>" method="post">
        <!-- <button type="button">Yo no</button> <button>Yo si</button> -->
        <button type="submit">Eliminar</button>
      </form>
      <a href="/Usuario/actualizar-usuario/<%=usuario.id%>">
        <button>Actualizar</button>
      </a>
    </td>
  </tr>
  <% }) %>
</table>
