<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/animate.css" />
  </head>
  <body>
    <div class="container">
      <!-- <button onclick="holaMundo()">click</button> -->

      <% const existeMensaje = typeof mensaje !== "undefined" ? true : false;%>
      <%if(existeMensaje){%>
      <div class="animated fadeOut alert alert-<%= accion %> mt-3" role="alert">
        <p>MENSAJE: <%= mensaje%></p>
      </div>
      <%}%>
      <!-- <% var apellido = 'Izurieta' %> -->
      <!-- h1 -> Header 1 -->
      <h1>Lista de Usuarios</h1>

      <form action="/Usuario/inicio" method="GET">
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label for="busqueda">Buscar</label>
              <input
                id="busqueda"
                class="form-control"
                name="busqueda"
                type="text"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary btn-block mt-4">Buscar</button>
          </div>
        </div>
      </form>

      <!-- p -> parrafo -->
      <!-- <p>Parrafo</p> -->
      <!-- <h2 class="mt-3">Arreglo</h2> -->
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
          <a
            href="/Usuario/crear-usuario"
            class="btn btn-primary mb-3 btn-block"
            >Crear Usuario</a
          >
        </div>
      </div>

      <!-- ul -> unordered list -->
      <!-- ol -> ordered list -->
      <!-- li -> list item -->
      <!--
        <ul>
        <% //arreglo.forEach((numero)=>{   %>
            <li><%= // numero  %></li>
        <%   // })    %>
        </ul>
      -->
      <table class="table table-hover animated fadeInUp">
        <!-- tr -> table row -->
        <thead>
          <!-- th -> table header -->
          <th scope="col" width="30%">Nombre</th>
          <th scope="col" width="60%">Biografía</th>
          <th scope="col" width="10%">Acciones</th>
        </thead>
        <!-- tr -> table row -->
        <tbody>
          <% arreglo.forEach((usuario)=>{ %>
          <tr>
            <!-- td -> table detail -->
            <td><%=usuario.nombre%></td>
            <td><%=usuario.biografia%></td>
            <td>
              <form action="/Usuario/borrar/<%=usuario.id%>" method="post">
                <!-- <button type="button">Yo no</button> <button>Yo si</button> -->
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-block m-1"
                >
                  Eliminar
                </button>
              </form>
              <a
                href="/Usuario/actualizar-usuario/<%=usuario.id%>"
                class="btn btn-outline-info btn-block m-1"
                >Actualizar</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script>
      function holaMundo() {
        console.log('Hola mundo');
      }
    </script>
  </body>
</html>
